/* main colors */
/* connect */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* main settings */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, a::selection, li::selection {
  color: #fff;
  background-color: #7954b6;
}

/* classes */
.flex-center, #header #logo, #header nav, #features #features-title, #about, #video, #pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  border: 2px solid #fff !important;
  border-radius: 20px !important;
}

.active-dot {
  background-color: #7954b6 !important;
  border-color: #7954b6 !important;
}

.done {
  color: #7954b6 !important;
}

.main-btn {
  display: block;
  padding: 15px 35px;
  max-width: 155px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: #7954b6;
  border: 1px solid #7954b6;
  border-radius: 30px;
}

.main-btn:hover {
  background-color: #dd4387;
  border-color: #dd4387;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
}

/* mixin */
/* header */
#header {
  display: grid;
  grid-template: auto 1fr / 1fr 1fr;
  min-height: 760px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#header #logo {
  align-items: flex-start;
}

#header #logo h1 {
  margin: 20px 30px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

#header #logo h1:hover {
  color: #7954b6;
}

#header nav {
  align-items: flex-end;
}

#header nav ul {
  display: inherit;
}

#header nav ul a {
  margin: 0px 15px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

#header #header-phone {
  filter: drop-shadow(0px 0px 20px rgba(58, 58, 58, 0.5));
  background-image: url("../img/phone.png");
  background-size: contain;
  background-position: 80% bottom;
  background-repeat: no-repeat;
  background-image: url("../img/phone.png");
  background-size: contain;
  background-position: 80% bottom;
  background-repeat: no-repeat;
}

#header #header-content {
  margin: 40px 10%;
  width: 55%;
}

#header #header-content h1 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

#header #header-content p {
  margin-top: 30px;
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

/* features */
#features {
  display: grid;
  grid-template: auto 1fr / 1.2fr 1fr;
  padding: 120px 0;
}

#features #features-title {
  grid-column: 1 / 3;
  margin-bottom: 100px;
}

#features #features-title h1, #features #features-title p {
  width: 40%;
  text-align: center;
}

#features #features-title h1 {
  margin: 10px 0;
  font-size: 48px;
  font-weight: 300;
  color: #7954b6;
}

#features #features-title p {
  font-size: 18px;
  font-weight: 300;
  color: #565656;
}

#features #features-slider {
  background-image: url("../img/content.png");
  background-size: 65%;
  background-position: center top;
  background-repeat: no-repeat;
}

#features #features-content h2, #features #features-content p {
  width: 50%;
  padding-left: 12%;
}

#features #features-content h2 {
  font-size: 24px;
  font-weight: 300;
  color: #7954b6;
}

#features #features-content p {
  font-size: 16px;
  font-weight: 300;
  color: #565656;
}

#features #features-content div:nth-child(1) {
  background-image: url("../img/clean.png");
  background-size: 8%;
  background-position: top left;
  background-repeat: no-repeat;
}

#features #features-content div:nth-child(2) {
  background-image: url("../img/support.png");
  background-size: 8%;
  background-position: top left;
  background-repeat: no-repeat;
}

#features #features-content div:nth-child(3) {
  background-image: url("../img/customize.png");
  background-size: 8%;
  background-position: top left;
  background-repeat: no-repeat;
}

#features #features-content div:nth-child(4) {
  background-image: url("../img/multiple.png");
  background-size: 8%;
  background-position: top left;
  background-repeat: no-repeat;
}

#features #features-content div:nth-child(5) {
  font-size: 16px;
  font-weight: 300;
  color: #565656;
  margin-top: 100px;
}

#features #features-content div:nth-child(5) span {
  color: #dd4387;
  text-decoration: underline;
  cursor: pointer;
}

/* about */
#about {
  padding: 120px 0;
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#about #about-wrapper {
  display: grid;
  grid-template: auto auto auto / 1fr 1fr 1fr;
  grid-gap: 100px 75px;
}

#about #about-wrapper #about-title {
  grid-column: 1 / 4;
}

#about #about-wrapper #about-title h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

#about #about-wrapper #about-title p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#about #about-wrapper #about-title hr {
  margin: 40px 0;
  width: 80px;
  border: 1px solid #fff;
}

#about #about-wrapper h2 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

#about #about-wrapper p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

/* video */
#video {
  min-height: 670px;
  background-image: url("../img/img-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#video #video-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#video #video-wrapper p {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#video #video-wrapper p:nth-child(1) {
  text-align: left;
}

#video #video-wrapper p:nth-child(1) img {
  margin-right: 20px;
  cursor: pointer;
}

#video #video-wrapper p:nth-child(2) {
  text-align: right;
  justify-content: flex-end;
}

/* screenshot */
#screenshot {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  padding: 120px 0;
}

#screenshot #screenshot-title, #screenshot #screenshot-content {
  margin-left: 40%;
}

#screenshot #screenshot-title {
  max-width: 600px;
  margin-bottom: 80px;
}

#screenshot #screenshot-title h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  color: #7954b6;
}

#screenshot #screenshot-title p {
  font-size: 18px;
  font-weight: 300;
  color: #565656;
}

#screenshot #screenshot-content {
  max-width: 420px;
}

#screenshot #screenshot-content h2 {
  font-size: 24px;
  font-weight: 300;
  color: #7954b6;
}

#screenshot #screenshot-content p {
  font-size: 16px;
  font-weight: 400;
  color: #565656;
}

#screenshot #screenshot-phone {
  grid-row: 1 / 3;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/phone2.png");
  background-size: contain;
  background-position: 60%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 20px rgba(58, 58, 58, 0.5));
}

#screenshot #screenshot-phone #dots {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px 26%;
}

#screenshot #screenshot-phone #dots span {
  margin: 5px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  cursor: pointer;
}

/* pricing */
#pricing {
  padding: 120px 0;
}

#pricing #pricing-wrapper {
  display: grid;
  grid-template: auto auto / 1fr 1fr 1fr;
  grid-column-gap: 120px;
}

#pricing #pricing-wrapper #pricing-title {
  grid-column: 1 / 4;
  margin-bottom: 50px;
}

#pricing #pricing-wrapper #pricing-title h1, #pricing #pricing-wrapper #pricing-title p {
  text-align: center;
}

#pricing #pricing-wrapper #pricing-title h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  color: #7954b6;
}

#pricing #pricing-wrapper #pricing-title p {
  font-size: 18px;
  font-weight: 300;
  color: #565656;
}

#pricing #pricing-wrapper #pricing-title hr {
  margin: 60px auto;
  width: 80px;
  border: 1px solid #dd4387;
}

#pricing #pricing-wrapper .price-box {
  padding: 0 0;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(58, 58, 58, 0.5);
}

#pricing #pricing-wrapper .price-box p {
  font-size: 18px;
  font-weight: 300;
  color: #7954b6;
}

#pricing #pricing-wrapper .price-box h2 span:nth-child(1) {
  font-size: 48px;
  font-weight: 600;
  color: #7954b6;
  position: relative;
  top: -25px;
}

#pricing #pricing-wrapper .price-box h2 span:nth-child(2) {
  font-size: 76px;
  font-weight: 600;
  color: #7954b6;
}

#pricing #pricing-wrapper .price-box h2 span:nth-child(3) {
  font-size: 18px;
  font-weight: 300;
  color: #7954b6;
}

#pricing #pricing-wrapper .price-box ul {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

#pricing #pricing-wrapper .price-box ul li {
  font-size: 18px;
  font-weight: 300;
  color: #565656;
  padding: 10px 0;
}

#pricing #pricing-wrapper .price-box ul li i {
  color: #ccc;
  padding: 0 15px;
}

#pricing #pricing-wrapper .price-box a {
  margin: 40px auto;
}
