/* main settings */
body{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}

/* classes */
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    border: 2px solid $c-white;
    border-radius: 20px;
}
.main-btn{
    padding: 15px 35px;
    color: $c-white;
    text-transform: uppercase;
    font: {
        size: $main-text + 2px;
        weight: 700;
    }
    background: $c-purple;
    border: 1px solid $c-purple;
    border-radius: 30px; 
}

/* mixin */