/* main settings */
body{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}

/* classes */
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    border: 2px solid $c-white;
    border-radius: 20px;
}
.main-btn{
    padding: 15px 35px;
    color: $c-white;
    text-transform: uppercase;
    font: {
        size: $main-text + 2px;
        weight: 700;
    }
    background-color: $c-purple;
    border: 1px solid $c-purple;
    border-radius: 30px; 
}
.main-btn:hover{
    background-color: $c-pink;
    border-color: $c-pink;;    
}

/* mixin */
@mixin font-settings($size, $weight, $color:$c-grey) {
    font: {
        size: $size;
        weight: $weight;
    }
    color: $color;
}
@mixin background-settings($url, $size, $position:center){
    background: {
        image: url($url);
        size: $size;
        position: $position;
        repeat: no-repeat;
    }
}