/* main colors */
$c-white: #fff;
$c-purple: #7954b6;
$c-pink: #dd4387;
$font-family: 'Open Sans', sans-serif;
$title: 48px;
$tiny-title: 24px;
$main-text: 16px;
$shadow: drop-shadow(0px 0px 20px rgba(58, 58, 58, 0.5));

/* connect */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import 'usage';

/* header */
#header{
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    min-height: 760px;
    background: {
        image: url('../img/header-bg.jpg');
        size: cover;
        position: center bottom;
        repeat: no-repeat;
    }
    #logo{
        @extend .flex-center;
        align-items: flex-start;
        h1{
            margin: 20px 30px;
            color: $c-white;
            font: {
                size: 36px;
                weight: 700;
            }
            cursor: pointer;
            &:hover{
                color: $c-purple;
            }
        }
    }
    nav{
        @extend .flex-center;
        align-items: flex-end;
        ul{
            display: inherit;
            a{
                margin: 0px 15px;
                padding: 5px 15px;
                color: $c-white;
                font: {
                    size: $main-text - 2px;
                    weight: 700;
                }
            }
        }
    }
    #header-phone{
        filter: $shadow;
        background: {
            image: url('../img/phone.png');
            size: contain;
            position: 80% bottom;
            repeat: no-repeat;
        } 
    }
    #header-content{
        margin: 40px 10%;
        width: 55%;
        color: $c-white;
        h1{
            font: {
                size: $title + 2px;
                weight: 300;
            }
        }
        p{
            margin: {
                top: 30px;
                bottom: 90px;
            }
            font: {
                size: $main-text + 2px;
                weight: 300;
            }
        }
    }
}

